$app-color-primary: #165DFF;
$app-color-hover: #4483FB;
$app-color-active: #1548CF;
$app-color-disabled: #96C0FD;
$app-color-backdrop: #E8F3FE;
$app-color-text: #435E92;

$app-color-warning: #FD7D23;
$app-color-danger: #F24145;
$app-color-success: #00B42A;

$text-black-0: #000000;
$text-black-3: #333333;
$text-black-6: #666666;
$text-black-9: #999999;
$text-black-c: #CCCCCC;

$backdrop: #F1F3F5;
$other-ECEDF2: #ECEDF2;
$other-DCDCDC: #DCDCDC;
